{% extends 'base.html' %}
{% block title %} Chats{% endblock title %} 
{% block content %}
<div class="container my-3" id="header">
  <h2>Chats</h2> 
  {% if Conversions|length == 0 %}
    <div class="alert alert-dark" role="alert">
        No messages found. start your conversion now!
    </div> 
  {% else %} 
    {% for message in Conversions %}
    <div class="message my-1">
      <div class="card-body">
        <h5 class="card-title">Post Owner</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{message.created_on}}</h6>
        <p class="card-text">{{message.message}}</p>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>  
{% block message %}{% endblock %}     
{% endblock content %}