#BG {
    background-color: #2d3748;
}
.imp{
    color:red;
}
#Image2{
    background-color: rgb(73, 73, 29);
}
#LoginBackground {
    width: auto;
    height: auto;
    align-items: Auto;
    background-color: #708090;
    flex-direction: column;
}
.p{
    font-size:15px;
}
.submit {
    background-color:#b3b3b3;
    color:white;
}
.message {
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#ccffcc;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:25px;
    width: 60%;
}